<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["app_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("today.css") }}" type="text/css">
    {% block head %}{% end %}
  </head>
  <body>
    <div id="body">
      <div id="header">
        <div style="float:right">
          {% if current_user %}
            <a href="/newPost">{{ _("newPost") }}</a>
            <a href="/auth/signout">{{ _("Sign out") }}</a>
            <a href="/myProfile">myProfile</a>
          {% else %}
            {% raw _('<a href="%(url)s">Sign in</a>') % {"url": "/auth/signin" } %}
            {% raw _('<a href="%(url)s">Sign up</a>') % {"url": "/auth/signup" } %}
          {% end %}
        </div>
        <h1><a href="/">{{ escape(handler.settings["app_title"]) }}</a></h1>
      </div>
      <div id="content">
        <a href="/">我的圈子</a>
        <a href="/all">all today</a>
        <a href="/myfollower">关注我的</a>
        <a href="/myfollow">我关注的</a>
        {% block body %}{% end %}
      </div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
