{% extends "base.html" %}

{% block body %}
  {% if current_user.id == user.id %}
  <a href="/edit/profile">edit profile</a>
  {% end %}
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  头像:<img src="{{ static_url(user.head_path) }}"  alt="icon" /><br>
  {% if not hasFollowed %}
  <a href="/follow/{{user.name}}">follow him/her</a>
  {% else %}
  <a href="/unfollow/{{user.name}}">unfollow him/her</a>
  {% end %}
  {% for entry in entries %}
    {% module Entry(entry) %}
  {% end %}
  {% module Paginator(page, page_size, results_count) %}
{% end %}
